    <header>
        <div class="logo">
            <a href="/" class="logo-link">
                <img src="images/logo.png" alt="Banking for Future" class="logo">
            </a>
        </div>

        <!-- For Subpages on the upper menu -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>
        </nav>
    </header>
